<!DOCTYPE html>
<html>
  <head>
    <title>FullstackProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script>
      window.logourl = "<%= image_url("logo.png") %>"
      window.bannerurl = "<%= image_url("banner.png") %>"
      window.aniurl = "<%= image_url("haikyu1.jpg") %>"
      window.aniurl2 = "<%= image_url("hh.jpg") %>"
      window.aniurl3 = "<%= image_url("mha.jpg") %>"
      window.aniurl4 = "<%= image_url("naruto-ipod.jpg") %>"
      window.aniurl5 = "<%= image_url("tg.jpg") %>"
      window.aniurl6 = "<%= image_url("op.jpg") %>"
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
